.header {
  position: relative;
  z-index: -1;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-color: grey;
  background-image: url("../images/asfalt-light.png");
  display: flex; 
  flex-direction: column;
  align-items: center;
}