.header {
  position: relative;
  z-index: -1;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-image: url("../images/asfalt-light.png");
  background: rgb(223, 219, 215);
  display: flex; 
  flex-direction: column;
  align-items: center;
}