.navbar {
  position: fixed;
  top: 0;
  z-index: 0;
  height: 120px;
  width: 100%;
  background: none;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-head {
  font-family: "Bungee";
  padding-left: 1.5em;
}

.nav-secondary {
  font-family: "Source Sans Pro";
}

.nav-general {
  font-weight: 300;
}

.nav-bold {
  font-weight: 600;
}

.nav-vertical {
  padding-right: 1.5em;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
}

i.fas.fa-angle-double-down {
  color: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

i.fas.fa-angle-double-down:hover {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

