.error {
  display: none;
  color: red;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}

.new-tweet {
  display: none;
}

.upper-tweet {
  font-family: "Source Sans Pro";
  font-weight: 600;
  border-style: none none solid none;
}

.tweet-box {
  font-family: "Source Sans Pro";
  font-weight: 600;
  width: 100%;
  color: #545149;
  background-color: #f4f1ec;
  border-style: none; 
}

.lower-tweet {
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}

.counter {
  font-family: "Bungee";
}

.tweet-button {
  font-family: "Bungee";
  background: #4056A1;
  color: white;
}

#tweets-container {
  padding-top: 30px
}